<div *ngIf="student" class="student-detail">
    <h1>{{ student | fullname }}</h1>
    <p>{{ student.email }}</p>

    <br>
    <p>----------</p>


    <h2>Cursando:</h2>
    <ul>
      <li *ngFor="let course of student.enrolledCourses">
        {{ course.name }}
      </li>
    </ul>
    <div class="spinner-container" *ngIf="!student.enrolledCourses">
      <mat-spinner></mat-spinner>
      <p>Loading...</p>
    </div>

    <button style="margin-top: 2rem;" mat-flat-button color="primary" (click)="goBack()">Volver</button>

  </div>
  <div class="spinner-container" *ngIf="!student">
    <mat-spinner></mat-spinner>
    <p>Loading...</p>
  </div>