<div style="background-color: rgb(58, 55, 55);">
   <p style="text-align: center;">
      {{ name$ | async | uppercase  }}
      <br>
      {{ email$ | async }}
   </p>
</div>

<mat-nav-list>
   <ng-container *ngFor="let navItem of navigationItems; let i = index">
     <mat-list-item [routerLink]="navItem.link" routerLinkActive #link="routerLinkActive" [activated]="link.isActive">
       <a>{{ navItem.label }}</a>
     </mat-list-item>
   </ng-container>
 </mat-nav-list>

<!-- <mat-nav-list>
    <mat-list-item routerLink="home" routerLinkActive #homeLink="routerLinkActive" [activated]="homeLink.isActive">
       <a>Home</a>
    </mat-list-item>
    <mat-list-item routerLink="users" routerLinkActive #usuariosLink="routerLinkActive" [activated]="usuariosLink.isActive">
        <a>Usuarios</a>
     </mat-list-item>
     <mat-list-item routerLink="students" routerLinkActive #alumnosLink="routerLinkActive" [activated]="alumnosLink.isActive">
      <a>Alumnos</a>
   </mat-list-item>
     <mat-list-item routerLink="courses" routerLinkActive #cursosLink="routerLinkActive" [activated]="cursosLink.isActive">
        <a>Cursos</a>
     </mat-list-item>
     <mat-list-item routerLink="enrollments" routerLinkActive #inscripcionesLink="routerLinkActive" [activated]="inscripcionesLink.isActive">
        <a>Inscripciones</a>
     </mat-list-item>

  </mat-nav-list> -->
  