.course-detail {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid rgb(117, 175, 202);
    border-radius: 5px;
    background-color: rgb(49, 48, 48);

  }

  ul{
    list-style: none;
  }