<form [formGroup]="userForm">
    <div class="row">
        <div class="col-6">
            <mat-form-field class="w-100">
                <mat-label> Nombre </mat-label>
                <input formControlName="name" matInput type="text">
                <mat-error>
                    <span *ngIf="nameControl?.hasError('minlength')">Debe contener al menos 3 letras</span>
                    <span *ngIf="nameControl?.hasError('required')">Debe escribir un nombre</span>
                </mat-error>
            </mat-form-field>           
        </div>
        <div class="col-6">
            <mat-form-field class="w-100">
                <mat-label> Apellido </mat-label>
                <input formControlName="lastname" matInput type="text">
                <mat-error>
                    <span *ngIf="lastnameControl?.hasError('minlength')">Debe contener al menos 3 letras</span>
                    <span *ngIf="lastnameControl?.hasError('required')">Debe escribir un apellido</span>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
</form>