<table mat-table [dataSource]="(students$ | async) || []" class="mat-elevation-z8">
  
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> # </th>
      <td mat-cell *matCellDef="let student"> {{student.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
      <td mat-cell *matCellDef="let student"> {{student | fullname}} </td>
    </ng-container>
 
     <!-- email Column -->
     <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let student"> {{student.email}} </td>
      </ng-container>
  
    <!-- actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let student">

        <button (click)="goToDetail(student.id)" mat-icon-button color="accent">
          <mat-icon>visibility</mat-icon></button>

        <button  [disabled]="(userRole$ | async) != 'admin'" (click)="editStudent.emit(student)" mat-icon-button color="primary">
            <mat-icon>edit</mat-icon></button>

        <button [disabled]="(userRole$ | async) != 'admin'" (click)="deleteStudent.emit(student.id)" mat-icon-button color="warn">
        <mat-icon>delete</mat-icon></button> 
    </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  