.example-container {
    height: 100vh;
  }
  
  
  .example-sidenav {
    padding: 20px;
  }
  main{
    background-image: url(../../assets/3454062.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }